<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>DR Records</title>
</head>

<body>
  <h1>Danmarks Rsadio Records</h1>
  <div id="app">
    <h2>All Records</h2>
    <br />

    <ul id="recordsId">
      <li v-for="Record in records">{{Record.artist}}, {{Record.title}}, {{Record.duration}}
        {{Record.yearOfPublication}}</li>
    </ul>
    
    <button class="btn btn-primary"></button>
  </div>


  <!-- <h3>Table (with Bootstrap decorations ....)</h3>
    <div class="container">
      <table class="table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Author</th>
            <th>Title</th>
            <th>Publisher</th>
            <th>Price</th>
          </tr>
        </thead>
        <tr v-for="book in books">
          <td>{{book.id}}</td>
          <td>{{book.author}}</td>
          <td>{{book.title}}</td>
          <td>{{book.publisher}}</td>
          <td>{{ book.price}}</td>
        </tr>
      </table>
    </div>

    <h2>Book by id</h2>
    <input v-model="id" placeholder="id" type="number">
    <button v-on:click="getBookById(id)" class="btn btn-primary">Get Book</button>
    <div v-if="book">{{ book }}</div>
    <div v-else>No such book</div>

    <h2>Add book</h2>
    <input v-model="inputData.author" placeholder="author" type="text" />
    <input v-model="inputData.title" placeholder="title" type="text" />
    <input v-model="inputData.publisher" placeholder="publisher" type="text" />
    <input v-model.number="inputData.price" placeholder="price" type="number" />
    <button v-on:click="addBook()" class="btn btn-success">Add</button>
    <div>{{addMessage}}</div>

    <h2>Delete book</h2>
    <input v-model="idToDelete" placeholder="id" type="number">
    <button v-on:click="deleteBookById(idToDelete)" class="btn btn-warning">Delete Book</button>
    <div>{{deleteMessage}}</div>

    <h2>Update book</h2>
    <input v-model="idToUpdate" placeholder="id" type="number" />
    <input v-model="updateData.author" placeholder="author" type="text" />
    <input v-model="updateData.title" placeholder="title" type="text" />
    <input v-model="updateData.publisher" placeholder="publisher" type="text" />
    <input v-model.number="updateData.price" placeholder="price" type="number" />
    <button v-on:click="updateBook(idToUpdate)" class="btn btn-success">Update</button>
    <div>{{updateMessage}}</div>  -->

  <script src="bundle.js"></script>
</body>

</html>